<div id="map-canvas"></div>
<nav>
    <h1> TackyTrips </h1>
    <ul>
      <li> <a href="#whatisthis"> What is this? </a> </li>
<!--       <li> <a href="#gosomewhere"> Go somewhere! </a></li> -->
      <li> <a href="#">Random recommendation </a></li>
      <li> <a href="#">View all destinations </a> </li>
    </ul>

<!--     <div class="signature-bottom">
      Made with love for the quirky. 
      &hearts; Alisa
    </div> -->
</nav>

<div class="direction-input">
  <h1>Go somewhere. </h1>
  <form id="direction-form" action="#">
  Destination Address<br>

  <input type="text" name="destination-address"><br><br>
  Where are you coming from?<br>
  <input type="text" name="from-address"><br><br><br>
  <button type="submit"><i id="car-icon" class="fa fa-car fa-5x"></i></button>

  </form>
</div>





<div id="whatisthis" class="modalDialog">
  <div class="modal-text"> 
    
  </div>
  <a href="#" class="close"></a>
</div>

<div id="gosomewhere" class="modalDialog">
  <div class="modal-text"> Hopefully the google make a road trip instructions will go here
  </div>
  <a href="#" class="close"></a>
</div>


